<div class="container mt-5">
  <h2>Formulario Reactivo</h2>

  <hr>
  <!-- <form [formGroup]="formulario" (ngSubmit)="save()"> -->
  <form >
    <div>

      <div class="form-group row p-2">
        <label class="col-2 col-form-label">Imagen</label>
        <div class="col-8">

          <input class="form-control"
                type="text"
                placeholder="Imagen"
                formControlName="imagen"
                [class.is-invalid]="
                formulario.get('imagen').invalid &&
                formulario.get('imagen').touched"
                >
        </div>
      </div>

      <div class="form-group row p-2">
        <label class="col-2 col-form-label">Descripcion</label>
        <div class="col-8">

          <input class="form-control"
                type="text"
                placeholder="Descripcion"
                formControlName="descripcion"
                [class.is-invalid]="
                formulario.get('descripcion').invalid &&
                formulario.get('descripcion').touched">
        </div>
      </div>

    </div>

    <div class="form-group row p-2">
      <label class="col-2 col-form-label">Categoria</label>
      <div class="col-8">

        <input class="form-control"
                type="text"
                placeholder="Categoria"
                formControlName="categoria"
                [class.is-invalid]="
                formulario.get('categoria').invalid &&
                formulario.get('categoria').touched">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary btn-block">
          Guardar
        </button>
      </div>
    </div>

  </form>

  <hr>
  <h5>Estado: {{formulario.valid}}</h5>
</div>
