
<div class="contenedor-background-setting pt-2">

  <div class="dropdown" *ngIf="user$ | async as user">

    <!-- BOTON SETTING-->

    <button class="btn dropdown-toggle" class="setting" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="../../../assets/img/settings.png" class="img-setting" alt="">
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li *ngIf="user"><a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a></li>
      <li><a class="dropdown-item">{{ user?.email }}</a></li>
    </ul>
  </div>

  </div>

  <div class="contenedor-background">
    <div class="card card-principal text-center">

      <div class="container">
      <div class="card-body">
        <h5 class="card-title title">Brigada S.O.S</h5>
        <p class="card-text title-informacion">¿Estoy en problemas y no se como resolverlos?</p>

    

      <!-- SECCION 911 EMERGENCIA -->
      <div class="row ">
        <div class="col-sm-12">

          <div class="card card-seccion">
            <div class="card-body card-seccion-body ">
              <img src="../../../assets/img/911.png"  class="card-img-top img-fluid img-seccion-emergencia" alt="911" title="911" [routerLink]="['/home']" routerLinkActive="router-link-active">
              <h5 class="card-title texto-informacion">Es una emergencia</h5>
            </div>
          </div>

        <!-- SECCION NECESITO ASESORIA -->
        </div>
      </div>

      <div class="hr"></div>

      <!-- SECCION REQUIERO IMAGENES-->
      <div class="row">
        <div class="col-sm-6 border-izquierdo" >
          <div class="card card-seccion">
            <div class="card-body card-seccion-body">
              <img src="../../../assets/img/ima.png"
                    class="card-img-top img-fluid img-seccion-imagenes" alt="img" title="img" [routerLink]="['/requiero-imagenes']" routerLinkActive="router-link-active" >
              <h5 class="card-title texto-informacion m-0">Requiero imagenes</h5>
            </div>
          </div>
        </div>

        <!-- SECCION REQUIERO VIDEOS -->
        <div class="col-sm-6">
          <div class="card card-seccion">
            <div class="card-body card-seccion-body">
              <img src="../../../assets/img/video.png" class="card-img-top img-fluid img-seccion-videos" alt="youtube" title="youtube" [routerLink]="['/requiero-videos']" routerLinkActive="router-link-active" >
              <h5 class="card-title texto-informacion">Requiero videos</h5>
            </div>
          </div>
        </div>
      </div>
      </div>

      </div>
    </div>
  </div>







