
<h2>Mi formulario</h2>

<form (ngSubmit)="guardar(miformulario)" #miformulario="ngForm">
  <br>
      <small class="form-text text-dark"><b>Campos obligatorios marcados con (*)</b></small>

      <div class="form-group row p-2">
        <label class="col-md-2 col-3 col-form-label">Nombre(*):</label>
        <div class="col-8">

          <input class="form-control "
                type="text"
                name="nombre"
                placeholder="ej: Francisco"
                autofocus
                [class.is-invalid]="nombre.invalid && nombre.touched"
                [ngModel]="persona.nombre"
                #nombre="ngModel"
                minlength ="3"
                maxlength ="10"
                pattern="[a-zA-Z]+"
                required
                title="El nombre debe contener mínimo 3 y máximo 10 caracteres y solo puede contener letras."
                >
          <small *ngIf="nombre.invalid && nombre.touched"
          class="form-text text-danger">El nombre debe contener mínimo 3 y máximo 10 caracteres y solo puede contener letras.</small>

        </div>
      </div>

      <div class="form-group row p-2">
        <label class="col-md-2 col-3 col-form-label">Edad(*):</label>
        <div class="col-8">

          <input class="form-control"
                type="text"
                name="edad"
                placeholder="ej: 22"
                [class.is-invalid]="edad.invalid && edad.touched"
                [ngModel]="persona.edad"
                #edad="ngModel"
                required
                minlength ="1"
                maxlength ="3"
                pattern="[0-9]+"
                title="La edad tiene debe contener mínimo 1 y máximo 3 dígitos y solo puede contener numeros."
                >
                <small *ngIf="edad.invalid && edad.touched"
                class="form-text text-danger">La edad tiene debe contener mínimo 1 y máximo 3 dígitos y solo puede contener numeros.</small>

        </div>
      </div>

    <div class="form-group row p-2">
      <label class="col-md-2 col-3 col-form-label">Correo(*):</label>
      <div class="col-8">

        <input class="form-control"
              type="email"
              name="correo"
              placeholder="ej: franciscoej@gmail.com"
              [class.is-invalid]="correo.invalid && correo.touched"
              [ngModel]="persona.correo"
              required
              #correo="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              title="El correo debe contener el caracter @ y una extension valida."
              >

              <small *ngIf="correo.invalid && correo.touched"
              class="form-text text-danger">El correo debe contener el caracter @ y una extension valida.</small>

      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-md-2 col-3 col-form-label">Ciudad:</label>
      <div class="col-8">

        <input class="form-control"
              type="text"
              name="ciudad"
              placeholder="Ingresa tu ciudad"
              [class.is-invalid]="ciudad.invalid && ciudad.touched"
              [ngModel]="persona.ciudad"
              #ciudad="ngModel"
              minlength ="4"
              maxlength ="18"
              pattern="[a-zA-Z]+"
              title="La ciudad debe contener minimo 4 y maximo 18 caracteres y solo puede contener letras."
              >
              <small *ngIf="ciudad.invalid && ciudad.touched"
              class="form-text text-danger">La ciudad debe contener minimo 4 y maximo 18 caracteres y solo puede contener letras.
            </small>
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-md-2 col-3 col-form-label">Contraseña(*):</label>
      <div class="col-8">

        <input class="form-control "
              type="password"
              name="password"
              placeholder="Ingresa una contraseña"
              [class.is-invalid]="clave.invalid && clave.touched"
              [ngModel]="persona.clave"
              #clave="ngModel"
              minlength ="5"
              maxlength ="8"
              required
              title="La contraseña debe contener mínimo 5 y máximo 8 caracteres."
              >
              <small *ngIf="clave.invalid && clave.touched"
              class="form-text text-danger">La contraseña debe contener mínimo 5 y máximo 8 caracteres.</small>

      </div>
    </div>

      <div class="input-group mt-4">
        <button type="submit" class="btn btn-primary btn-block">
          Guardar
        </button>
      </div>
  </form>

