
<div class="contenedor-background">

  <div class="card card-principal">
    <div class="containerr">

      <button type="button" class="btn btn-regresar" (click)="regresar()"><i class="fas fa-long-arrow-alt-left"></i></button>

      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center mb-5">
          <img src="../../../assets/img/logotipo.png" class="card-img-top img-fluid img-logotipo" alt="...">
          <h5 class="card-title title">Brigada S.O.S</h5>

          <div class="  contenedor-buscador">
            <form id="form" class="form-buscador">
              <input type="search" class="form-control input-buscador" id="search" placeholder="Buscar Solución" aria-label="Search">
              <span class="left-pan"><i class="fa fa-search"></i> </span>
            </form>
          </div>
        </div>


        <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="videos">

            </div>
          </div>
        </div>
      </div>

      </div>

    </div>
  </div>
</div>



